@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  width: 100%;
  height: 100%;
}


body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FCE8E1;
}


#root {
  width: 100%;
}


.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
